@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Gill Sans', 'Segoe UI', sans-serif;
}
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}
.group:hover .group-hover\:rotate-y-180 {
  transform: rotateY(180deg);
}
